.DishCard {
    border-radius: .5rem;
    background-color: var(--tertiary-color);
    box-shadow: 0 0 .5rem 0.125rem;
    height: 30rem;
    overflow: hidden;
}

.DishCard.row, .DishCard .row {
    margin: 0;
}

.DishCard-details {
    padding: 1rem;
    flex-grow: 1;
}

.DishCard-details > div {
    height: 100%;
}

.DishCard-description > div {
    height: 100%;
}
