body{
    background-color: #EDEFEE;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:350px;
}
nav{
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(13, 13, 13);
    margin-top: 2rem;
    border-radius: 3rem;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
nav a:hover{
    color: yellow;
}

.main{
    background-image: url(https://d3c33hcgiwev3.cloudfront.net/imageAssetProxy.v1/VfOsqf83SaKUbwnr1ayl9w_ea111fbfa4924d6dbf9f99dbd72bb7e1_pngtree-Food-Menu-Fare-Meal-background-photo-869492.jpg?expiry=1711756800000&hmac=hVAUyZBjxvYCicEpzJq1y9sqXCi4K3DLmow2fzoUpoE);
    padding: 10px 40px;
    color: aliceblue;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 40px;
}
section a{
    color: blue;
}
section{
    display:flex;
    gap: 2rem 1rem;
}
article{
    flex:1;
    margin: 1rem;
    text-align: center;
}
.first:hover{
    border: 2px solid transparent;
    padding: 20px;
    margin: 0;
    background-color: rgba(223, 176, 158, 0.603);
    color: black;
    text-align: center;
}
.second:hover{
    border: 2px solid transparent;
    padding: 20px;
    margin: 0;
    background-color:  rgba(223, 176, 158, 0.603);
    color: black;
    text-align: center;
}
.third:hover{
    border: 2px solid transparent;
    padding: 20px;
    margin: 0;
    background-color: rgba(223, 176, 158, 0.603);
    color: black;
    text-align: center;
}
footer{
    display: flex;
    margin: 5rem 4%;
    justify-content: space-between;
}
footer hr{
    padding: 1px;
    width: 400px;
    background-color: rgb(76, 75, 75);
}
footer p{
    margin-left: 50%;
    font-weight: 600;
}
@media(max-width: 580px) {
    header > img{
        display: flex;
        width:250px;
    }
    nav{
        background-color:rgb(96, 96, 99) ;
    }
    nav a:hover{
        color:black;
    }
    nav ul{
        display: block;
        margin-left: 100px;
    }
    nav li{
        margin-top: 20px;
    }
    section{
        display:block;
    }
    article{
        margin-top:20px;
    }
    footer {
        display: block;
    }

    footer hr{
        padding: 1px;
        width: 320px;
        background-color: rgb(76, 75, 75);
    }
    footer img{
        margin-bottom: 20px;
    }
    footer p{
        margin-left: 80px;
        font-weight: 600;
    }
}
