.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header .row {
    margin: .5rem 0;
}

.Header-logo {
    width: 10rem;
}

.Header-logo * {
    max-width: 100%;
    display: block;
}