.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header > .row {
    justify-content: start;
    margin: 1.25rem auto;
}

.Header-logo {
    width: 10rem;
    margin-left: 16.6666667%;
}

.Header-logo * {
    max-width: 100%;
    display: block;
}