.Navbar {
    display: flex;
    justify-content: end;
}

.Navbar-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 30rem;
}

.Navbar-item > a, .Navbar-item > a:visited {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
}

.Navbar-item:hover, .Navbar-item > .active {
    text-decoration: underline;
}
